<h1>formulario nuevo usuario</h1>

<form action="/newUser" method="post" id="formNewUser">
    <fieldset>
        {{>atoms/legend texto="Datos personales"}}
        {{>atoms/label labelFor="name" text="Nombre:"}}
        {{>atoms/input type="text" inputName="name" inputPlaceholder="Nombre"}}
        {{>atoms/label labelFor="surname" text="Apellidos:"}}
        {{>atoms/input type="text" inputName="surname" inputPlaceholder="Apellidos"}}
    </fieldset>
    <fieldset>
        {{>atoms/legend texto="Datos login"}}
        {{>atoms/label labelFor="userName" text="Nombre de usuario:"}}
        {{>atoms/input type="text" inputName="username" inputPlaceholder="Nombre de usuario"}}
        {{>atoms/label labelFor="password" text="Contrase침a:"}}
        {{>atoms/input type="text" inputName="password" inputPlaceholder="Contrase침a"}}
>       {{>atoms/label labelFor="avatar" text="Avatar:"}}
        <input type="file" name="avatar">

    </fieldset>
    <fieldset>
        <legend>Datos contacto</legend>
        <label for="email">Correo electr칩nico:</label>
        <input type="email" name="email" placeholder="Correo electr칩nico" >
    </fieldset>
    <input type="submit" value="Crear usuario">    
</form>

{{#if user}}
    <ul>
        <li>{{this.name}}</li>
        <li>{{this.surname}}</li>
        <li>{{this.avatar}}</li>
    </ul>
{{/if}}